* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(16, 0, 61);
  font-family: "Nunito Sans", sans-serif;
}

/*
.separador {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid aliceblue;
  margin: 80px 15vw;
}
*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(16, 0, 61);
}

::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 25px;
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-up {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes from-down {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
nav {
  background-color: rgb(16, 0, 61);
  margin: 0 10%;
  border-radius: 0px 0px 20px 25px;
  box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.5);
}
nav img {
  margin-left: 30px;
  width: 100px;
}
nav .navbar-toggler {
  border: none !important;
  color: aliceblue !important;
}
nav .nav-item {
  margin-right: 25px;
}
nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 16px;
  color: aliceblue;
  letter-spacing: 3.5px;
  transition: all 0.3s ease;
  overflow: hidden;
  /*border-radius: 5px;*/
}
nav .nav-item .nav-link:hover {
  /*background-color: rgb(0, 209, 157);*/
  cursor: pointer;
  letter-spacing: 4.5px;
  transition: all 0.3s ease;
}
nav .nav-item .active {
  /*background-color: rgb(0, 209, 157) !important;*/
  color: aliceblue !important;
  font-weight: bold !important;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0px;
}
.principal .img-principal {
  width: 500px;
  /*margin-right: 50px;*/
  animation: from-right 0.7s ease;
}
.principal .first-principal {
  color: aliceblue;
  letter-spacing: 2.5px;
  font-size: 5rem;
  text-transform: capitalize;
  margin-left: 50px;
  animation: from-left 0.7s ease;
}
.principal .first-principal span {
  background: linear-gradient(90deg, aliceblue, rgb(0, 209, 157), rgb(0, 175, 206));
  color: transparent;
  -webkit-background-clip: text;
}
.principal .second-principal {
  color: rgb(0, 209, 157);
  letter-spacing: 2.5px;
  font-size: 3rem;
  margin-left: 50px;
  text-transform: capitalize;
  animation: from-left 0.7s ease;
}
.principal .btncv {
  animation: from-left 0.7s ease;
  margin-top: 30px;
  margin-left: 50px;
}
.principal .btncv .btn-downloadcv {
  background-color: rgb(0, 175, 206);
  color: aliceblue;
  text-decoration: none;
  padding: 20px 60px;
  border-radius: 50px;
  transition: all 0.2s ease;
}
.principal .btncv .btn-downloadcv .text-download {
  font-size: 1.2rem;
  margin-left: 15px;
}
.principal .btncv .btn-downloadcv:hover {
  background-color: aliceblue;
  color: rgb(0, 209, 157);
  transition: all 0.2s ease;
}

.principal-proyect {
  margin: 100px 190px;
  justify-content: center;
  align-items: center;
}
.principal-proyect .title-proyect {
  color: aliceblue;
  font-size: 5rem;
  letter-spacing: 2.5px;
  text-transform: capitalize;
  animation: from-right 0.7s ease;
}
.principal-proyect .text-proyect {
  color: rgb(145, 151, 156);
  font-size: 1.2rem;
  letter-spacing: 2px;
  animation: from-right 0.7s ease;
  margin-bottom: 50px;
}
.principal-proyect .img-proyect {
  width: 600px;
  animation: from-left 0.7s ease;
}

.btn-verproyects {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: from-up 0.7s ease;
}
.btn-verproyects .btn-verpr {
  color: aliceblue;
  background-color: rgb(61, 61, 255);
  border: 1px solid rgb(61, 61, 255);
  border-radius: 50px;
  padding: 15px 55px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: 0.3s all ease;
  -webkit-box-reflect: below 25px linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 140%);
}
.btn-verproyects .btn-verpr:hover {
  background-color: transparent;
  letter-spacing: 3.5px;
  color: rgb(61, 61, 255);
  transition: 0.3s all ease;
}

.proyects {
  margin: 100px 0px;
}
.proyects .animation {
  animation: from-up 0.7s ease;
}
.proyects .animation .card {
  border: none !important;
}
.proyects .animation .card .card-title {
  color: aliceblue;
}
.proyects .animation .card .card-text,
.proyects .animation .card .text-body-secondary {
  color: rgb(145, 151, 156) !important;
}
.proyects .animation .card .btn span {
  margin-left: 8px;
  text-transform: capitalize;
}
.proyects .animation .card .btn:hover,
.proyects .animation .card .btn i:hover {
  border-color: aliceblue;
  background-color: aliceblue;
  color: #005eff;
}

.principal-contact {
  margin-bottom: 200px;
}
.principal-contact .title-contact {
  text-align: center;
  margin: 100px 0;
  color: aliceblue;
  font-size: 5rem;
  letter-spacing: 3.5px;
  animation: from-down 0.8s ease;
}
.principal-contact .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: from-up 0.8s ease;
  margin-top: 180px;
}
.principal-contact .contact .form-leftside {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal-contact .contact .form-leftside .form-leftside-map {
  width: 100%;
}
.principal-contact .contact .form-rightside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
}
.principal-contact .contact .form-rightside .form-title {
  font-size: 3.5rem;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: aliceblue;
  letter-spacing: 3.5px;
}
.principal-contact .contact .form-rightside .contact-form {
  width: 500px;
}
.principal-contact .contact .form-rightside .contact-form .contact-input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 45px;
}
.principal-contact .contact .form-rightside .contact-form .contact-label {
  font-size: 18px;
  color: rgb(145, 151, 156);
  letter-spacing: 2px;
}
.principal-contact .contact .form-rightside .contact-form .contact-input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid aliceblue;
  width: 100%;
  color: aqua;
  background-color: transparent;
}
.principal-contact .contact .form-rightside .contact-form .contact-input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid aliceblue;
  width: 100%;
  color: aqua;
  background-color: transparent;
  resize: none;
}
.principal-contact .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.principal-contact .btn .btn-contact {
  color: aliceblue;
  background-color: rgb(61, 61, 255);
  border: 1px solid rgb(61, 61, 255);
  border-radius: 50px;
  padding: 15px 55px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: 0.3s all ease;
  -webkit-box-reflect: below 25px linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 140%);
}
.principal-contact .btn .btn-contact:hover {
  background-color: transparent;
  letter-spacing: 3.5px;
  color: rgb(61, 61, 255);
  transition: 0.3s all ease;
}

.pie-pagina {
  width: 100%;
  box-sizing: border-box;
}
.pie-pagina .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 45px 10px;
}
.pie-pagina .group-1 figure {
  width: 100%;
  height: 100%;
}
.pie-pagina .group-1 .title-about-footer {
  color: aliceblue;
  margin-bottom: 25px;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 2px;
}
.pie-pagina .group-1 p {
  margin-bottom: 10px;
  color: rgb(145, 151, 156);
}
.pie-pagina .group-1 .social-media a {
  text-decoration: none;
  margin-right: 20px;
  color: aliceblue;
  transition: all 0.5s ease;
  font-size: 35px;
}
.pie-pagina .group-1 .social-media a:hover {
  transform: scale(1.2);
  color: rgb(61, 61, 255);
}
.pie-pagina .group-2 {
  padding: 15px 10px;
  text-align: center;
}
.pie-pagina .group-2 small {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 15px;
  font-style: italic;
}

@media (max-width: 992px) {
  /* PAGINA DE INICIO */
  .principal {
    flex-direction: column;
  }
  .principal .first-principal {
    font-size: 28px;
    margin-left: 0px;
  }
  .principal .second-principal {
    font-size: 21px;
    margin-left: 0px;
  }
  .principal .btncv {
    margin-left: 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal .btncv .btn-downloadcv {
    padding: 15px 40px;
  }
  .principal .btncv .btn-downloadcv .text-download {
    font-size: 1rem;
  }
  .principal .img-principal {
    width: 270px;
  }
  /* PAGINA DE PROYECTOS */
  .principal-proyect {
    flex-direction: column;
    margin: 80px 35px;
  }
  .principal-proyect .title-proyect {
    font-size: 25px;
  }
  .principal-proyect .text-proyect {
    font-size: 16px;
  }
  .principal-proyect .img-proyect {
    width: 280px;
    margin-top: 40px;
  }
  /* PAGINA DE CONTACTO */
  .principal-contact .title-contact {
    font-size: 25px;
  }
  .principal-contact .contact {
    flex-direction: column;
    margin-top: 130px;
  }
  .principal-contact .contact .form-leftside {
    height: 200px;
    width: 100%;
  }
  .principal-contact .contact .form-rightside {
    margin-top: 85px;
  }
  .principal-contact .contact .form-rightside .form-title {
    font-size: 27px;
    margin-bottom: 45px;
  }
  .principal-contact .contact .form-rightside .contact-form {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
