@media (max-width: 992px) {
  /* PAGINA DE INICIO */
  .principal {
    flex-direction: column;
    .first-principal {
      font-size: 28px;
      margin-left: 0px;
    }

    .second-principal {
      font-size: 21px;
      margin-left: 0px;
    }

    .btncv {
      margin-left: 0px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-downloadcv {
        padding: 15px 40px;
        .text-download {
          font-size: 1rem;
        }
      }
    }

    .img-principal {
      width: 270px;
    }
  }

  /* PAGINA DE PROYECTOS */

  .principal-proyect {
    flex-direction: column;
    margin: 80px 35px;
    .title-proyect {
      font-size: 25px;
    }

    .text-proyect {
      font-size: 16px;
    }

    .img-proyect {
      width: 280px;
      margin-top: 40px;
    }
  }

  .title-technologys {
    font-size: 25px !important;
    margin-left: 30px !important;
  }
  /*
  .logos-slide {
    img {
      height: 50px !important;
    }
  }*/

  /* PAGINA DE CONTACTO */

  .principal-contact {
    .title-contact {
      font-size: 25px;
    }
    .contact {
      flex-direction: column;
      margin-top: 130px;
      .form-leftside {
        height: 200px;
        width: 100%;
      }
      .form-rightside {
        margin-top: 85px;
        .form-title {
          font-size: 27px;
          margin-bottom: 45px;
        }
        .contact-form {
          width: 300px;
        }
      }
    }
  }
}
