@media (max-width: 992px) {
  /* PAGINA DE INICIO */
  .principal {
    .first-principal {
      font-size: 25px;
      margin-left: 30px;
    }

    .second-principal {
      font-size: 19px;
      margin-left: 30px;
    }

    .img-principal {
      width: 180px;
      margin-right: 20px;
    }
  }

  /* PAGINA DE PROYECTOS */

  .principal-proyect {
    flex-direction: column;
    margin: 80px 35px;
    .title-proyect {
      font-size: 25px;
    }

    .text-proyect {
      font-size: 16px;
    }

    .img-proyect {
      width: 280px;
      margin-top: 40px;
    }
  }

  /* PAGINA DE CONTACTO */

  .principal-contact {
    .title-contact {
      font-size: 25px;
    }
    .contact {
      flex-direction: column;
      margin-top: 130px;
      .form-leftside {
        height: 200px;
        width: 100%;
      }
      .form-rightside {
        margin-top: 85px;
        .form-title {
          font-size: 27px;
          margin-bottom: 45px;
        }
        .contact-form {
          width: 300px;
        }
      }
    }
  }
}
